<div>
  <ion-card>
    <ion-card-header id="header">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-icon (click)="close()" slot="icon-only" name="close"></ion-icon>
        </ion-buttons>
        <ion-title>{{item.titulo}}</ion-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <ion-img id="item-img" [src]="item.img"></ion-img>
      <p>{{item.descripcion}}</p>
      <ion-list>
        <ion-item>
          <ion-label>$ {{item.precio}}</ion-label>
        </ion-item>

      </ion-list>



    </ion-card-content>
  </ion-card>
</div>