<button routerLink="" class="btn btn-secondary">
    <strong>Volver</strong>
</button>
<app-formulario>
    <div class="row g-3 px-2">
        <!-- Email -->
        <div class="col-12">
            <label for="mail" class="form-label">Email</label>
            <input [(ngModel)]="Mail" id="mail" name="mail" class="form-control" type="email" required>
            <div class="invalid-feedback">Por favor, ingresa un email válido.</div>
        </div>
        <!-- Password -->
        <div class="col-12">
            <label for="password" class="form-label">Contraseña</label>
            <input [(ngModel)]="Password" id="password" name="password" class="form-control" type="password" required>
            <div class="invalid-feedback">Por favor ingresa una contraseña.</div>
        </div>
    </div>
    <div class="text-center m-4">
        <button (click)="ingresar()" class="btn btn-primary btn-lg bg-gradient text-white">
            <strong>Ingresar</strong>
        </button>
    </div>
</app-formulario>