<div>
    <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid justify-content-center">
            <a href="#" class="navbar-brand"><img src="../../../assets/logo/small-oscuro.svg" width="150" height="auto"
                    class="px-2" alt=""></a>
        </div>
    </nav>

    <div class="min-vh-100 bg-g d-flex justify-content-center align-items-center">
        <div class="card-content card p-5 text-center">
            <h1 class="fw-bold big-title">404</h1>
            <h2><strong>Ups!</strong> Parece que esta página se ha esfumado</h2>
            <p></p>
            <button type="button" class="btn btn-outline-primary mb-3 fw-bold" routerLink="/">
                Volvamos al inicio
              </button>
        </div>

    </div>
</div>