<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contenido">

  <div id="container">

    <ion-card *ngFor="let categoria of Categorias;">
      <span class="section-offset" id="{{categoria.titulo}}"></span>
      <ion-card-header class="header">
        <ion-card-title>{{categoria.titulo}} </ion-card-title>
        <ion-button fill="clear" color="danger" size="small">
          <ion-icon name="close" color="danger"></ion-icon>
          Limpiar
        </ion-button>
      </ion-card-header>

      <ion-card-content>
        <ion-item *ngFor="let item of categoria.items;">
          <ion-label class="ion-text-wrap">
            <div>
              <h2>{{item.titulo}}</h2>
              <p>{{item.descripcion}}</p>
            </div>

            <div class="botones">
              <ion-button (click)="agregarItem(item)" color="medium">
                <ion-icon name="add"></ion-icon>
              </ion-button>

              <div *ngIf="item.cantidad" class="botones">
                <ion-label>{{item.cantidad}}</ion-label>
                <ion-button (click)="quitarItem(item)" color="medium">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-label>
          <h1>$ {{item.precio}}</h1>

        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>