
#container {
  margin-bottom: 100px;
}

#container strong {
  font-size  : 20px;
  line-height: 26px;
}

#container p {
  line-height: 22px;
  color      : #8c8c8c;

}

#container a {
  text-decoration: none;
}

#container h1 {
  font-size  : 18px;
  font-weight: 500;
}

.section-offset {
  position: relative;
  bottom  : 65px; // <<< your offset here >>>
}

.botones {
  display    : flex;
  align-items: center;
}

.botones ion-button {
  margin: 10px 10px 10px 0;
}

.botones ion-label {
  margin: 0 10px 0 0;
}