<ion-menu side="start" menuId="first" contentId="contenido">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let categoria of Categorias" (click)="clickCategoria(categoria.titulo)">{{categoria.titulo}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contenido">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card *ngFor="let categoria of Categorias;">
      <span class="section-offset" id="{{categoria.titulo}}"></span>
      <ion-card-header>
        <ion-card-title>{{categoria.titulo}} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item *ngFor="let food of categoria.items;">
          <!-- <ion-thumbnail *ngIf="food.img" slot="start">
                  <img [src]="food.img">
                </ion-thumbnail> -->
          <ion-label (click)="clickFood(food)">
            <h2>{{food.title}}</h2>
            <p>{{food.description}}</p>
            <h2>$ {{food.price}}</h2>
          </ion-label>
          <div class="botones">
            <ion-button (click)="agregarProducto(food)" color="medium" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>

            <div *ngIf="food.cantidad" class="botones">
              <ion-label>{{food.cantidad}}</ion-label>
              <ion-button (click)="quitarProducto(food)" color="medium" shape="round">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div id="footer">
      <a href="https://fontawesome.com/license" target="_vblank">Licencia de íconos</a>
    </div>
  </div>
</ion-content>