<main class="min-vh-100 bg-g p-2 p-md-3 p-lg-4">
    <section class="col-12">
        <div class="card card-width-lg py-3">
            <div class="card-body text-center ">
                <a href=""><img src="../../../assets/logo/small-oscuro.svg" width="200" height="auto" class="my-3"
                        alt=""></a>

                <hr>
                <div class="my-4 py-2">
                    <h2 class="card-title fw-bold">¿Listo para potenciar tu negocio?</h2>
                    <p class="card-text">Completa estos datos para comenzar a disfrutar de los beneficios de nuestra
                        app.</p>

                    <form id="start-form" class="pt-3 px-md-5 form-width-lg">
                        <!-- WhatsApp Number -->
                        <div class="form-floating">
                            <input [(ngModel)]="view.phone" (keyup)="onPhoneKeyUp()" name="whatsappNumber" type="tel"
                                class="form-control" id="whatsappNumber" aria-describedby="whatsappNumberHelp"
                                placeholder="Ingresa tu número">
                            <label for="whatsappNumber">Tu número con Whatsapp</label>

                            <small id="whatsappNumberHelp" class="form-text text-muted">Lo usaremos para enviarte los
                                pedidos que
                                realicen tus clientes.</small>
                        </div>

                        <!-- Shop Name -->
                        <div class="form-floating">
                            <input [(ngModel)]="view.name" (keyup)="onNameKeyUp()" name="shopName" type="text"
                                class="form-control" id="shopName" placeholder="Ingresa el nombre">
                            <label for="shopName">Nombre de tu negocio</label>

                        </div>
                    </form>

                    <button [disabled]="view.disableSubmit" (click)="submitClicked()"
                        class="btn btn-primary btn-lg bg-gradient mt-3"><strong>¡Comenzar!</strong></button>
                </div>
                <hr>
                <a routerLink="" class="text-muted">Volver</a>
            </div>

        </div>
    </section>
    <!-- <div class="mt-3 mt-md-5 mb-5 mb-xxl-2">
        <div class="col-12 col-md-6 px-sm-5 px-md-0 pb-3 pb-md-0">
            <div class="card p-2 p-lg-4">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Tus datos</h2>
                    <p class="card-text">Antes de empezar necesitamos los siguientes datos:</p>

                    <form id="start-form">
                        <!-- WhatsApp Number 
                        <div class="form-group">
                            <label for="whatsappNumber">Tu número con Whatsapp</label>
                            <input [(ngModel)]="view.phone" (keyup)="onPhoneKeyUp()" name="whatsappNumber" type="tel"
                                class="form-control" id="whatsappNumber" aria-describedby="whatsappNumberHelp"
                                placeholder="Ingresa tu número">
                            <small id="whatsappNumberHelp" class="form-text text-muted">Lo usaremos para enviarte los
                                pedidos que
                                realicen tus clientes.</small>
                        </div>

                        <!-- Shop Name 
                        <div class="form-group">
                            <label for="shopName">Nombre de tu negocio</label>
                            <input [(ngModel)]="view.name" (keyup)="onNameKeyUp()" name="shopName" type="text"
                                class="form-control" id="shopName" placeholder="Ingresa el nombre">
                        </div>
                    </form>

                    <button [disabled]="view.disableSubmit" (click)="submitClicked()"
                        class="btn btn-primary btn-lg bg-gradient mt-3"><strong>Continue</strong></button>
                </div>
            </div>
        </div>
    </div> -->
</main>