<section class="min-vh-100 bg-g p-2 p-md-3 p-lg-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-white rounded shadow">
        <div class="container-fluid px-4 px-lg-5">
            <a href="" class="navbar-brand"><img src="../../../assets/logo/small-oscuro.svg" width="150" height="auto"
                    class="px-2" alt=""></a>
        </div>
    </nav>
    <div class="text-white">
        <h1>Comenzá tu prueba gratuita</h1>
        <p>Podrás probar todas nuestras funcionalidades gratis por dos semanas, al finalizar la prueba podrás elegir si
            seguir con nosotros o cancelar gratuitamente.</p>
    </div>


    <div class="container-lg mt-3 mt-md-5 mb-5 mb-xxl-2">
        <div class="col-12 col-md-6 px-sm-5 px-md-0 pb-3 pb-md-0">
            <div class="card p-2 p-lg-4">
                <div class="card-body">
                    <h2 class="card-title fw-bold">Tus datos</h2>
                    <p class="card-text">Antes de empezar necesitamos los siguientes datos:</p>

                    <form>
                        <!-- Numero -->
                        <label>Tu número con Whatsapp</label>
                        <input type="tel" />

                        <!-- Nombre negocio -->
                        <label>Nombre de tu negocio</label>
                        <input type="text" />
                    </form>

                    <a href="/start" class="btn btn-primary btn-lg bg-gradient mt-3"><strong>Listo</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>