<div class="card m-3 shadow">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="card-title align-self-center">Items</h1>
            <button type="button" class="btn btn-primary btn-sm">Agregar</button>
        </div>
        <div class="list-group list-group-flush mb-3">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h5 class="mb-1">titulo</h5>
                    <p class="mb-2 fw-light text-muted">descripcion</p>
                    <div class="d-flex">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="d-flex">
                            <p class="m-auto px-3">cantidad</p>
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="align-self-center fw-bold fs-5 mb-0">$</p>
            </div>
        </div>
    </div>