<app-crud [service]="Service">
    <!-- Formulario dentro del modal -->
    <!-- La directiva let permite obtener el item actual ya que es proveido por el componente -->
    <!-- El componente crud busca el primer ng-template que encuentra y lo mete dentro del formulario del modal -->
    <ng-template let-item>
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input [(ngModel)]="item.titulo" id="titulo" type="text" class="form-control" required>
            <div class="invalid-feedback">Por favor ingrese un título</div>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input [(ngModel)]="item.precio" id="precio" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea [(ngModel)]="item.descripcion" class="form-control" id="descripcion" rows="3"></textarea>
        </div>
    </ng-template>
</app-crud>