<div class="card">
  <div class="card-body">
    <h2 class="ps-3 m-0"><strong>Panel de administración</strong></h2>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <!-- Items -->
    <div class="col-12 col-md-6 width-card">
      <div class="card">
        <div class="card-body ps-5 pt-4">
          <h5 class="text-muted">
            <i class="fas fa-list pe-2"></i>
            Ítems
          </h5>
          <div class="row justify-content-center align-items-center">
            <div class="col-4">
              <span class="font-number text-primary">
                <strong>{{ Model.item.count }}</strong>
              </span>
            </div>
            <div class="col-8 text-center">
              <button routerLink="item" class="btn btn-outline-primary">
                <strong>Administrar</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Categorías -->
    <div class="col-12 col-md-6 width-card">
      <div class="card">
        <div class="card-body ps-5 pt-4">
          <h5 class="text-muted">
            <i class="fas fa-tags pe-2"></i>
            Categorías
          </h5>
          <div class="row justify-content-center align-items-center">
            <div class="col-4">
              <span class="font-number text-primary">
                <strong>{{ Model.categoria.count }}</strong>
              </span>
            </div>
            <div class="col-8">
              <button routerLink="categoria" class="btn btn-outline-primary">
                <strong>Administrar</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
