<div>
    <!-- Categoría -->
    <div *ngFor="let categoria of Categorias; first as esPrimera" class="card m-3 shadow">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <h1 class="card-title align-self-center fw-bold fs-3">{{categoria.titulo}}</h1>
                <button *ngIf="esPrimera" (click)="limpiar()" class="btn btn-link text-muted">Limpiar</button>
            </div>
            <div class="list-group list-group-flush px-2">
                <!-- Item -->
                <div *ngFor="let itemConCantidad of categoria.items;"
                    class="item d-flex w-100 justify-content-between mb-4">
                    <div class="izquierda">
                        <h5 class="mb-1 fs-6">{{itemConCantidad.titulo}}</h5>
                        <p class="mb-2 text-muted desc">{{itemConCantidad.descripcion}}</p>
                        <div class="d-flex">
                            <button (click)="agregarItem(itemConCantidad)" type="button"
                                class="btn btn-outline-primary btn-sm rounded-circle">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div *ngIf="itemConCantidad.cantidad" class="d-flex">
                                <p class="m-auto px-3">{{itemConCantidad.cantidad}}</p>
                                <button (click)="quitarItem(itemConCantidad)" type="button"
                                    class="btn btn-outline-primary btn-sm rounded-circle">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="derecha align-self-center fw-bold fs-5 mb-0">${{itemConCantidad.precio}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toast -->
    <div class="position-sticky p-3 bottom-0" style="z-index: 11">
        <div #toast class="toast text-white bg-primary bg-gradient" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-autohide="false">
            <div class="toast-body">
                <span class="precio fw-bold fs-5">${{Total}}</span>
                <button (click)="continuar()" type="button" class="btn btn-primary continuar fw-bold border-white">Ver
                    mi pedido</button>
            </div>
        </div>
    </div>
</div>