<!-- Categoría -->
<div *ngFor="let categoria of Categorias;" class="card m-3 shadow">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="card-title align-self-center">{{categoria.titulo}}</h2>
        </div>
        <div class="list-group list-group-flush mb-3">
            <div *ngFor="let item of categoria.items;" class="d-flex w-100 justify-content-between mb-4">
                <div>
                    <h5 class="mb-1">{{item.titulo}}</h5>
                    <p class="mb-2 fw-light text-muted">{{item.descripcion}}</p>
                    <div class="d-flex">
                        <button (click)="agregarItem(item)" type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="d-flex">
                            <p class="m-auto px-3">{{item.cantidad}}</p>
                            <button (click)="quitarItem(item)" type="button" class="btn btn-secondary btn-sm">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="align-self-center fw-bold fs-5 mb-0">$ {{item.precio}}</p>
            </div>
        </div>
    </div>
</div>