<!-- List -->
<div *ngIf="view.list; else loading">
  <div class="d-flex mb-3 align-items-start">
    <h1 class="card-title fs-3">
      <ng-content select="[title]"></ng-content>
    </h1>
    <button (click)="addClicked()" type="button" class="btn btn-primary bg-gradient btn-sm text-white ms-3">
      <strong>Agregar</strong>
    </button>
  </div>
  <!-- There are items and are loaded -->
  <div *ngIf="!view.showEmptyState; else empty" class="list">
    <div *ngFor="let item of view.list" (click)="itemClicked(item)" class="item-container">
      <ng-template [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{$implicit: item}">
      </ng-template>
    </div>
  </div>
  <!-- Empty State -->
  <ng-template #empty>
    <ng-content select="[empty-state]"></ng-content>
  </ng-template>
</div>
<ng-template #loading>
  <div class="d-flex vh-100 justify-content-center align-items-center">
    <app-loading></app-loading>
  </div>
</ng-template>

<!-- Modal -->
<app-modal-crud [saving]="view.modal.saving" (onClose)="close()" (onSave)="save()">
  <ng-container ngProjectAs="[header]">
    <div *ngIf="view.modal.editing; else headerCrear" #headerEditar class="w-100 d-flex justify-content-between">
      <h5 class="modal-title align-self-center" id="modalLabel">
        <strong>Editar {{ title }}</strong>
      </h5>
      <button (click)="delete()" class="btn">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <ng-template #headerCrear>
      <h5 class="modal-title" id="modalLabel">
        <strong>Agregar {{ title }}</strong>
      </h5>
    </ng-template>
  </ng-container>
  <ng-container ngProjectAs="[body]">
    <app-formulario>
      <ng-template [ngTemplateOutlet]="formTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
    </app-formulario>
  </ng-container>
</app-modal-crud>