/** Archivo para aplicar estilos globalmente **/

.cursor-pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: #fc453c21;
}

.btn-primary {
  color: #fdfcfa;
}

.btn-primary:hover {
  color: #fdfcfa;
}

.btn-outline-primary:hover {
  color: #fdfcfa;
}

.offcanvas-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem !important;
}

.card {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  margin: 1rem 0;
}

@media (min-width: 400px) {
  .card {
    margin: 1rem;
  }
}

.carousel-indicators [data-bs-target] {
  height: 5px;
}
