/** Archivo para aplicar estilos globalmente **/

.cursor-pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: #fc453c21;
}

.btn-primary {
  color: #fdfcfa;
}

.btn-primary:hover {
  color: #fdfcfa;
}

.btn-outline-primary:hover {
  color: #fdfcfa;
}

.offcanvas-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem !important;
}

.card {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  margin: 1rem 0;
}

@media (min-width: 400px) {
  .card {
    margin: 1rem;
  }
}

.carousel-indicators [data-bs-target] {
  height: 5px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #fc453c21;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: #fc453c36
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border-right: none;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background-color: #fc453c21
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    background-color: #fc453c21;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #fc453c0a;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: #fea29e;
  box-shadow  : 0 0 0 0.25rem rgba(252, 69, 60, 0.25);
}

.list-group-item-action:active {
  background-color: rgb(252, 69, 60, 0.05);
}

.list-group-item-action:hover, .list-group-item-action:focus {
  background-color: rgb(252, 69, 60, 0.05);
}