/** Archivo para aplicar estilos globalmente **/

.cursor-pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: #eddfde;
}

.btn-primary {
  color: #fdfcfa;
}

.btn-outline-primary:hover {
  color: #fdfcfa;
}

.offcanvas-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem !important;
}
