/** En este archivo se sobreescriben variables de bootstrap **/
// Colores //
$primary: #fc453c;
$white: #fdfcfa;
$gray-900: #211c1c;


// Fuentes //
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$font-family-sans-serif: 'Quicksand', sans-serif;

//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
//$font-family-sans-serif: 'Poppins', sans-serif;

// Otros //
$offcanvas-horizontal-width: 250px;