<div #container>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">
        <div class="container-fluid ">
            <a href="#" class="navbar-brand"><img src="../../../assets/logo/small-oscuro.svg" width="150"
                    height="auto" class="px-2" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav text-16 me-auto mb-2 mb-lg-0" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse">
                    <li class="nav-item" role="button">
                        <a class="nav-link"><i class="fas fa-th-large me-1"></i>Panel
                        </a>
                    </li>
                    <li class="nav-item" role="button">
                        <a class="nav-link"> <i class="fas fa-list me-1"></i>Productos
                        </a>

                    </li>
                    <li class="nav-item" role="button">
                        <a class="nav-link"> <i class="fas fa-tags me-1"></i>Categorías
                        </a>
                    </li>
                    <li class="nav-item" role="button">
                        <a class="nav-link" ><i class="fas fa-cog me-1"></i>Configuración
                        </a>
                    </li>
                   
                </ul>

                <span class="me-3">Bienvenido, Ramiro</span>

                <a class="btn btn-outline-primary bg-gradient"
                    routerLink=''><strong>Salir</strong></a>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>