<div class="container page-container">
  <h1 class="fw-bold">Tu negocio <h2 class="d-inline">&gt; Panel</h2>
  </h1>

  <div class="d-flex flex-row justify-content-center align-items-center gap-5 pt-3" *ngIf="!view.shopList; else hasShopTemplate">
    <img src="../../../../assets/empty-state/caja-changed.png" alt="" width="150">
    <div>
      <h4>Completar la configuración nos ayudará a personalizar la aplicación según tus necesidades. ¿Listo para
        continuar?
      </h4>
      <button routerLink="/admin/config" class="btn btn-primary bg-gradient text-white fw-bold">Ir a Configuración</button>
    </div>
  </div>

  <ng-template #hasShopTemplate>
    <h4>Bienvenido a tu panel</h4>
  </ng-template>


</div>