<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Items</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="clickEditarItem(item)" *ngFor="let item of Items;">
        <!-- <ion-thumbnail *ngIf="food.img" slot="start">
                <img [src]="food.img">
              </ion-thumbnail> -->
        <ion-label>
          <h2>{{item.titulo}}</h2>
          <p>{{item.descripcion}}</p>
          <h2>$ {{item.precio}}</h2>
        </ion-label>
      </ion-item>
      <h2 *ngIf="!Items.length">Aún no tienes items, agrega uno para empezar a vender</h2>

      <ion-button (click)="clickAgregarItem()" class="boton" expand="block">Agregar item</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>