<ion-header>
  <ion-toolbar>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!Items.length" class="container-empty">
    <div class="items-empty-state">
      <img src="../../../assets/empty-state/caja.png" alt="">
      <p>Aún no tienes items, comienza a agregarlos!</p>
      <ion-button (click)="clickAgregarItem()">Agregar</ion-button>
    </div>
  </div>

  <div *ngIf="Items.length" class="container-full">
    <ion-card>
      <ion-card-header class="header">
        <ion-card-title>Items</ion-card-title>
        <ion-button (click)="clickAgregarItem()">Agregar</ion-button>
      </ion-card-header>

      <ion-card-content>
        <ion-item (click)="clickEditarItem(item)" *ngFor="let item of Items;">
          <ion-label class="ion-text-wrap">
            <h2>{{item.titulo}}</h2>
            <p>{{item.descripcion}}</p>
          </ion-label>
          <h1>$ {{item.precio}}</h1>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>


</ion-content>