<ion-header>
  <ion-toolbar>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Items</ion-card-title>
      <ion-button (click)="clickAgregarItem()" class="boton" expand="block">Agregar item</ion-button>
    </ion-card-header>

    <ion-card-content>
      <!-- Se muestra cuando no hay items a mostrar -->
      <h2 *ngIf="!Items.length">Aún no tienes items, agrega uno para empezar a vender</h2>

      <!-- Items -->
      <ion-item (click)="clickEditarItem(item)" *ngFor="let item of Items;">
        <ion-label>
          <h2>{{item.titulo}}</h2>
          <p>{{item.descripcion}}</p>
          <h2>$ {{item.precio}}</h2>
        </ion-label>
      </ion-item>
      <!-- Items -->

    </ion-card-content>
  </ion-card>
</ion-content>
