<main>
    <!-- HOME -->
    <section id="home" class="min-vh-100 bg-g p-2 p-md-3 p-lg-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-white rounded shadow">
            <div class="container-fluid px-4 px-lg-5">
                <a href="#" class="navbar-brand"><img src="../../../assets/logo/small-oscuro.svg" width="150"
                        height="auto" class="px-2" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav text-16 me-auto mb-2 mb-lg-0" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse">
                        <li class="nav-item" role="button">
                            <a class="nav-link font-inter"
                                onclick="document.getElementById('about').scrollIntoView()">Sobre</a>
                        </li>
                        <li class="nav-item" role="button">
                            <a class="nav-link font-inter"
                                onclick="document.getElementById('demo').scrollIntoView()">Demo</a>
                        </li>
                        <li class="nav-item" role="button">
                            <a class="nav-link font-inter"
                                onclick="document.getElementById('precios').scrollIntoView()">Precios</a>
                        </li>
                        <li class="nav-item" role="button">
                            <a class="nav-link font-inter"
                                onclick="document.getElementById('nosotros').scrollIntoView()">Nosotros</a>
                        </li>
                        <li class="nav-item" role="button">
                            <a class="nav-link font-inter"
                                onclick="document.getElementById('contacto').scrollIntoView()">Contacto</a>
                        </li>
                    </ul>
                    <a class="btn btn-outline-primary bg-gradient" routerLink='admin/login'><strong>Ingresar</strong></a>
                </div>
            </div>
        </nav>

        <div class="container-lg mt-3 mt-md-5 mb-5 mb-xxl-2">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-6 px-sm-5 px-md-0 pb-3 pb-md-0">
                    <div class="card p-2 p-lg-4">
                        <div class="card-body">
                            <h2 class="card-title fw-bold">Tus pedidos en un sólo mensaje de Whatsapp</h2>
                            <p class="card-text">Te ofrecemos una manera sencilla de expandir tu negocio y llegar a
                                más clientes.</p>
                            <a onclick="document.getElementById('precios').scrollIntoView()"
                                class="btn btn-primary btn-lg bg-gradient"><strong>Comenzá gratis</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img src="../../../assets/phone-frames/mockup-1.webp" alt="mockup-web" class="width-img">
                </div>
            </div>

        </div>

        <div class="text-center p-0 p-md-5 p-lg-0">
            <a (click)="irA('about')" class="text-white" role="button">
                <i class="fas fa-chevron-down fs-2 "></i>
            </a>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about" class="min-vh-100 p-4 bg-g-inverse ir-a-seccion">
        <div class="text-center m-5 text-white">
            <h2>
                <strong>Negocios y clientes conectados</strong>
            </h2>
            <p class="m-0">Te presentamos los puntos importantes de nuestra app web que te permitirán llegar a mucho
                más.</p>
        </div>

        <div class="container text-white py-3 py-lg-5">
            <div class="row p-lg-4 px-5 px-lg-3">
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="fas fa-clipboard-list fs-1 mb-3"></i>
                    <h5>100% AUTOGESTIONABLE</h5>
                    <p class="text-14">Nuestro panel administrativo te permite agregar, actualizar y quitar ítems
                        sencillamente.</p>
                </div>
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="fab fa-whatsapp fs-1 mb-3"></i>
                    <h5>WHATSAPP INTEGRADO</h5>
                    <p class="text-14">Incorporamos tu número de Whatsapp para que tus pedidos lleguen claramente en un
                        sólo mensaje.
                    </p>
                </div>
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="fas fa-store fs-1 mb-3"></i>
                    <h5>VERSATILIDAD</h5>
                    <p class="text-14">Nuestra web de pedidos está preparada para cualquier rubro comercial.
                    </p>
                </div>
            </div>
            <div class="row p-lg-4 px-5 px-lg-3">
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="far fa-grin-wink fs-1 mb-3"></i>
                    <h5>FÁCIL USO</h5>
                    <p class="text-14">Apuntamos a diseñar una interfaz amigable y sencilla, fácil de
                        seguir para cualquier persona.</p>
                </div>
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="fas fa-mobile-alt fs-1 mb-3"></i>
                    <h5>PLATAFORMA FLEXIBLE</h5>
                    <p class="text-14">Nuestra interfaz se adapta completamente a los distintos dispositivos.</p>
                </div>
                <div class="col-12 col-md-4 text-center pb-3 pb-lg-0">
                    <i class="far fa-clock fs-1 mb-3"></i>
                    <h5>AHORRO DE TIEMPO</h5>
                    <p class="text-14">Ahorrá tiempo contactándote fácilmente con tus clientes.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- DEMO -->
    <section id="demo" class="min-vh-100 p-4 ir-a-seccion">
        <div class="text-center m-5">
            <h2>
                <strong>Un vistazo a nuestra interfaz</strong>
            </h2>
        </div>

        <div class="container py-3 py-md-5">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner pb-5">
                            <div class="carousel-item active">
                                <img src="../../../assets/phone-frames/mockup-1.webp" class="d-block width-slides m-auto"
                                    alt="mockup-inicio">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/phone-frames/mockup-2.webp" class="d-block width-slides m-auto"
                                    alt="mockup-carrito">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/phone-frames/mockup-3.webp" class="d-block width-slides m-auto"
                                    alt="mockup-carrito">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/phone-frames/mockup-4.webp" class="d-block width-slides m-auto"
                                    alt="mockup-carrito">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/phone-frames/mockup-5.webp" class="d-block width-slides m-auto"
                                    alt="mockup-carrito">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/phone-frames/mockup-6.webp" class="d-block width-slides m-auto"
                                    alt="mockup-carrito">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="text-primary fs-4" aria-hidden="true">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="text-primary fs-4" aria-hidden="true">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-4 align-self-center pt-5 pt-md-0">
                    <h4>Probá nuestra Demo</h4>
                    <p>Te invitamos a experimentar nuestra app web completamente
                        <strong>gratis</strong>. Podrás
                        interactuar en tiempo real con las funcionalidades que tenemos para ofrecerte.
                    </p>
                    <a href="/pedido" class="btn btn-primary bg-gradient"><strong>Probálo aquí</strong></a>
                </div>

            </div>

        </div>

    </section>


    <!-- PRECIOS -->
    <section id="precios" class="min-vh-100 p-4 bg-g ir-a-seccion">
        <div class="text-center m-5 text-white">
            <h2>
                <strong>Precios</strong>
            </h2>
        </div>

        <div class="container mb-5">
            <div class="row mx-0 mx-md-5 mx-lg-0">
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h4 class="card-title">Plan Base</h4>
                                <p class="text-primary text-14"><strong>PRUEBA GRATIS POR 15 DÍAS</strong></p>
                                <h2 class="mb-3"><strong><span class="fs-5">AR$</span>1000,00<span
                                            class="fs-6">/mes</span></strong></h2>
                                <a class="btn btn-primary bg-gradient" href="mailto:encarga.shop@gmail.com"><strong>Contáctanos</strong></a>
                            </div>
                            <ul class="list-group list-group-flush text-14 check-icon">
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    <strong> Hasta 20 ítems</strong>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Todas las funcionalidades
                                </li>

                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Panel administrativo 100% autogestionable
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Acceso a vídeo-tutoriales y soporte
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h4 class="card-title">Plan Estándar</h4>
                                <p class="text-primary text-14"><strong>PRUEBA GRATIS POR 15 DÍAS</strong></p>
                                <h2 class="mb-3"><strong><span class="fs-5">AR$</span>1500,00<span
                                            class="fs-6">/mes</span></strong></h2>
                                <a class="btn btn-primary bg-gradient" href="mailto:encarga.shop@gmail.com"><strong>Contáctanos</strong></a>
                            </div>
                            <ul class="list-group list-group-flush text-14 check-icon">
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    <strong> Hasta 50 ítems</strong>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Todas las funcionalidades
                                </li>

                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Panel administrativo 100% autogestionable
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Acceso a vídeo-tutoriales y soporte
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h4 class="card-title">Plan Full</h4>
                                <p class="text-primary text-14"><strong>PRUEBA GRATIS POR 15 DÍAS</strong></p>
                                <h2 class="mb-3"><strong><span class="fs-5">AR$</span>2000,00<span
                                            class="fs-6">/mes</span></strong></h2>
                                <a class="btn btn-primary bg-gradient" href="mailto:encarga.shop@gmail.com"><strong>Contáctanos</strong></a>
                            </div>
                            <ul class="list-group list-group-flush text-14 check-icon">
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    <strong> Más de 50 ítems</strong>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Todas las funcionalidades
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Panel administrativo 100% autogestionable
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check text-primary"></i>
                                    Acceso a vídeo-tutoriales y soporte
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <!-- EQUIPO -->
    <section id="nosotros" class="min-vh-100 p-4 ir-a-seccion">
        <div class="text-center m-5">
            <h2>
                <strong>Nosotros</strong>
            </h2>
            <p class="m-0"><strong>¡HOLA!</strong> Somos un equipo de diseño y desarrollo web de Entre Ríos, buscamos
                cubrir
                las necesidades de los pequeños negocios de la región ofreciendo soluciones web adecuadas.</p>
        </div>

        <div class="container">
            <div class="row px-0 px-lg-5">
                <div class="col-12 col-md-6 text-center">
                    <div class="card">
                        <div class="card-body p-sm-4 p-md-3 p-lg-4">
                            <img src="../../../assets/profile-pics/juan2-small.webp"
                                class="card-img-top rounded-circle mb-4 width-profile" alt="...">
                            <h4 class="text-primary"><strong>JUAN VERA</strong></h4>
                            <h6 class="text-muted">APP DEVELOPER</h6>
                            <p class="m-0 text-14">Apasionado por el desarrollo</p>
                            <p class="text-14"><i class="fas fa-map-marker-alt text-primary me-2"></i>Concepción del
                                Uruguay, Entre Ríos</p>
                            <div class="d-flex justify-content-evenly fs-5 text-primary pt-3">
                                <a href="mailto:juanfrvera@gmail.com"><i class="far fa-envelope"></i></a>
                                <a href="https://juan-vera.web.app" target="blank"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <div class="card">
                        <div class="card-body p-sm-4 p-md-3 p-lg-4">
                            <img src="../../../assets/profile-pics/vic2-small.webp"
                                class="card-img-top rounded-circle mb-4 width-profile" alt="...">
                            <h4 class="text-primary"><strong>VICTORIA DERUDDER</strong></h4>
                            <h6 class="text-muted">APP DEVELOPER</h6>
                            <p class="m-0 text-14">Enfocada en buenos diseños</p>
                            <p class="text-14"><i class="fas fa-map-marker-alt text-primary me-2"></i>Concepción del
                                Uruguay, Entre Ríos</p>
                            <p></p>
                            <div class="d-flex justify-content-evenly fs-5 text-primary pt-3">
                                <a href="mailto:victoria.derudder@gmail.com"><i class="far fa-envelope"></i></a>
                                <a href="https://victoriad.web.app" target="blank"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer" class="bg-dark p-4 text-white">
        <div class="container-lg py-2 py-lg-0 px-lg-4">
            <div class="row p-0 p-lg-4 w-100 w-lg-75 m-auto">
                <div class="col-12 col-md-6 px-sm-5 mb-3 mb-md-0">
                    <a href="#"><img src="../../../assets/logo/small-claro.svg" width="150" height="auto" class="pb-2"
                            alt=""></a>
                    <p class="text-light">Tus pedidos en un sólo mensaje de Whatsapp</p>
                </div>
                <div id="contacto" class="col-12 col-md-6 px-sm-5">
                    <h5>Contáctanos</h5>
                    <a class="link-light font-lato" href="mailto:encarga.shop@gmail.com">
                        <i class="far fa-envelope"></i>
                        encarga.shop@gmail.com</a>
                    <div class="fs-5 mt-3 social-icons">
                        <a href="https://www.facebook.com/encarga.shop/" target="blank" class="social-icon"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/encarga.shop/" target="blank" class="social-icon"><i
                                class="fab fa-instagram"></i></a>
                        <a class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- Back to top button -->
    <button type="button" class="btn btn-light btn-floating shadow" id="btn-back-to-top">
        <i class="fas fa-chevron-up"></i>
    </button>

</main>