@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

main {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.w-fixed {
    max-width: 400px;
    margin: auto;
}

.carousel-indicators button {
    background-color: #fc453c;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.text-16 li {
    font-size: 1rem;
}