@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

main {
    font-family: 'Poppins', sans-serif;
    font-size  : 12px;
}

.w-fixed {
    max-width: 400px;
    margin   : auto;
}

.carousel-indicators button {
    background-color: #fc453c;
}

.list-group-item {
    border          : none;
    background-color: transparent;
}

.text-16 li {
    font-size: 1rem;
}

.text-14 {
    font-size: 14px;
}

#btn-back-to-top {
    position: fixed;
    bottom  : 25px;
    right   : 25px;
    display : none;
}

.social-icons .social-icon {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    height          : 3rem;
    width           : 3rem;
    background-color: #6c757d;
    color           : #fdfcfa;
    border-radius   : 100%;
    font-size       : 1.2rem;
    margin-right    : 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #fc453c;
}

#contacto a {
    text-decoration: none;
}

.link-light:hover {
    color: #fc453c;
}

@media (max-width: 991.98px) {
    .ir-a-seccion {
        scroll-margin-top: 170px;
    }
}