<app-crud [service]="service">
  <strong title>Items</strong>

  <ng-template #listTemplate let-listItem>
    <!-- here we can use item -->
    <div class="item">
      <div class="item-name">{{ listItem.name }}</div>
      <div class="item-price">${{ listItem.price }}</div>
    </div>
  </ng-template>
  <!-- Empty State -->
  <div empty-state class="empty-state">
    <img src="../../../assets/empty-state/caja.png" alt="" />
    <div>You don't have items yet, let's start adding them!</div>
  </div>

  <!-- Form inside modal -->
  <!-- The let directive allows to get the current item, because it is provided by the component -->
  <!-- The crud component uses the first ng-template found and puts it inside the modal's form -->
  <ng-template #formTemplate let-item>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input [(ngModel)]="item.name" id="name" type="text" class="form-control" required />
      <div class="invalid-feedback">Please insert a name</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input [(ngModel)]="item.price" id="price" type="number" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea [(ngModel)]="item.description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="categorias" class="form-label">Categories</label>
      <ng-select id="categorias" [(ngModel)]="item.categoriaIdList" [multiple]="true" [loadingText]="'Loading...'">
        <ng-option *ngFor="let cat of CategoriaList" [value]="cat.id">
          {{ cat.name }}
        </ng-option>
      </ng-select>
    </div>
  </ng-template>
</app-crud>