<app-crud [service]="service">
  <strong title>Productos</strong>

  <ng-template #listTemplate let-listItem>
    <!-- here we can use item -->
    <div class="item">
      <div class="item-name">{{ listItem.name }}</div>
      <div class="item-price">${{ listItem.price }}</div>
    </div>
  </ng-template>
  <!-- Empty State -->
  <div empty-state class="empty-state">
    <img src="../../../../assets/empty-state/caja-changed.png" alt="" />
    <p class="mt-3">No tienes productos, empieza a agregarlos!</p>
  </div>

  <!-- Form inside modal -->
  <!-- The let directive allows to get the current item, because it is provided by the component -->
  <!-- The crud component uses the first ng-template found and puts it inside the modal's form -->
  <ng-template #formTemplate let-item>
    <div class="mb-3 form-floating">
      <input [(ngModel)]="item.name" id="name" type="text" class="form-control" required />
      <label for="name" class="form-label">Nombre</label>

      <small class="invalid-feedback">Por favor, ingresa un nombre</small>
    </div>
    <div class="mb-3 form-floating">
      <input [(ngModel)]="item.price" id="price" type="number" class="form-control" />
      <label for="price" class="form-label">Precio</label>

    </div>
    <div class="mb-3 form-floating">
      <textarea [(ngModel)]="item.description" class="form-control" id="description" rows="3"></textarea>
      <label for="description" class="form-label">Descripción</label>

    </div>
    <div class="mb-3 ">
      <label for="categorias" class="form-label">Categorías</label>
      <ng-select id="categorias" [(ngModel)]="item.categoriaIdList" [multiple]="true" [loadingText]="'Loading...'">
        <ng-option *ngFor="let cat of CategoriaList" [value]="cat.id">
          {{ cat.name }}
        </ng-option>
      </ng-select>
    </div>
  </ng-template>
</app-crud>