<div *ngIf="itemsConCantidad.length; else empty">
<div id="detalle-pedido" class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="card-title align-self-center fw-bold fs-3">Mi Pedido</h1>
        </div>

            <div class="list-group list-group-flush px-2">
                <div *ngFor="let item of itemsConCantidad;" class="item d-flex w-100 justify-content-between mb-3">
                    <div class="izquierda">
                        <h5 class="mb-2 fs-6">{{item.titulo}}</h5>
                        <div class="d-flex">
                            <button (click)="agregarItem(item)" type="button"
                                class="btn btn-outline-primary btn-sm rounded-circle">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div class="d-flex">
                                <p class="m-auto px-3">{{item.cantidad}}</p>
                                <button (click)="quitarItem(item)" type="button"
                                    class="btn btn-outline-primary btn-sm rounded-circle">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="derecha align-self-center d-flex flex-column align-items-end">
                        <p class="mb-0 text-muted subtotal">Subtotal:</p>
                        <p class=" fw-bold mb-0">${{(item.precio ?? 0) * item.cantidad}}</p>
                    </div>

                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="total">
                        <h3 class="fw-light fs-4">Total:</h3>
                        <h3 class="fw-bold fs-3"> ${{this.total}}</h3>
                    </div>
                    <button class="btn btn-outline-primary btn-sm boton align-self-center" routerLink="/pedido">Seguir
                        comprando</button>
                </div>


            </div>
        </div>
    </div>

<app-formulario>
    <div id="detalle-entrega" class="card">
        <div class="card-body">
            <h2 class="card-title mb-4 fw-bold fs-3">Mis Datos</h2>

                <div class="row g-3 px-2">
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre y Apellido</label>
                        <input [(ngModel)]="datos.nombre" id="nombre" name="nombre" class="form-control" type="text"
                            required>
                        <div class="invalid-feedback">Por favor, ingresa tu nombre y apellido.</div>
                    </div>
                    <div class="col-6-md ps-2">
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="datos.entrega" class="form-check-input" type="radio"
                                name="inlineRadioOptions" id="entrega-envio" name="entrega-envio"
                                value="Envio a domicilio" checked>
                            <label class="form-check-label" for="entrega-envio">Envío a domicilio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="datos.entrega" class="form-check-input" type="radio"
                                name="inlineRadioOptions" id="entrega-retiro" name="entrega-retiro"
                                value="Retira en sucursal">
                            <label class="form-check-label" for="entrega-retiro">Retira en sucursal</label>
                        </div>
                    </div>
                    <div *ngIf="datos.entrega == 'Envio a domicilio'" class="col-12">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input [(ngModel)]="datos.direccion" id="direccion" name="direccion" class="form-control"
                            required>
                        <div class="invalid-feedback">Por favor, ingresa tu dirección.</div>
                    </div>
                    <div class="col-12">
                        <label for="comentarios" class="form-label">Comentarios</label>
                        <textarea [(ngModel)]="datos.comentarios" id="comentarios" name="comentarios"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>

    <div id="demo" class="card">
        <div class="card-body">
            <h2 class="card-title mb-4 fw-bold fs-3">Probá nuestra Demo</h2>
                <div class="px-2">
                    <label for="telefono" class="form-label">Ingresá un número de teléfono válido dentro de
                        Argentina</label>
                    <p>Sin 0, 15 ni espacios</p>
                    <input [(ngModel)]="datos.telPrueba" id="telefono" name="telefono" class="form-control" type="tel"
                        placeholder="Ej: 3442112233" required>
                    <div class="invalid-feedback">Por favor, ingresa un número de teléfono válido.</div>
                </div>
            </div>
        </div>
    </app-formulario>

    <div class="text-center m-4">
        <button (click)="clickFinalizar()" class="btn btn-primary btn-lg fw-bold text-white">
            <i class="fab fa-whatsapp"></i>
            Enviar pedido
        </button>
    </div>
</div>

<ng-template #empty>
    <div class="empty-state">
        <div class="text-center px-3">
            <img src="../../../assets/empty-state/bolsa-changed.png" alt="" class="mb-4">
            <p class="text-muted mb-3">Tu carrito está vacío, vuelve para agregar ítems.</p>
            <button routerLink='/pedido' class="btn btn-primary text-white">Volver</button>
        </div>
    </div>
</ng-template>