<div class="card">
    <div class="card-body">
        <h2 class="ps-3 m-0"><strong>Pagos</strong></h2>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <p>Tu saldo vence el</p>
            <h3>$2000.00</h3>
            <button type="button" class="btn btn-primary bg-gradient">
                <strong>PAGAR ONLINE</strong>
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2><strong>Historial de pagos</strong></h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
</div>