<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="detalle-pedido">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Detalle del pedido</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item *ngFor='let item of itemsConCantidad'>
            <ion-label>
              <h2>{{item.titulo}}</h2>
              <h2>Cantidad: {{item.cantidad}}</h2>
              <p>Subtotal: $ {{item.precio * item.cantidad}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="dark">
                <h1 class="total">Total: $ {{this.total}}</h1>
              </ion-text>
            </ion-label>
          </ion-item>

          <ion-item button lines="none">
            <ion-button (click)="clickVolver()" fill="outline" color="primary" slot="start">
              Seguir comprando
            </ion-button>
          </ion-item>


        </ion-card-content>
      </ion-card>
    </div>

    <div class="detalle-entrega">
      <form [formGroup]="form" (ngSubmit)="clickFinalizar(form.value.telPrueba)">


        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalle de entrega</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre y Apellido</ion-label>
              <ion-input name="inputNombre" formControlName="nombre"></ion-input>
            </ion-item>
            <!-- Error message -->
            <ion-text color="danger">
              <span class="error" *ngIf="finalizado && errorControl.nombre.errors?.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Por favor, escribe tu nombre y apellido.
              </span>
            </ion-text>

            <ion-radio-group formControlName="entrega">
              <ion-item>
                <ion-label>Envío a domicilio</ion-label>
                <ion-radio name="inputEnvio" slot="start" value="Envio a domicilio"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Retiro en sucursal</ion-label>
                <ion-radio name="inputRetiro" slot="start" value="Retira en sucursal"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item *ngIf="form.value.entrega == 'Envio a domicilio'">
              <ion-label position="floating">Dirección</ion-label>
              <ion-input name="inputDireccion" formControlName="direccion"></ion-input>
            </ion-item>
            <!-- Error message -->
            <ion-text color="danger">
              <span class="error"
                *ngIf="finalizado && form.value.entrega == 'Envio a domicilio' && !form.value.direccion">
                <ion-icon name="alert-circle-outline"></ion-icon> Por favor, escribe tu dirección.
              </span>
            </ion-text>

            <ion-item>
              <ion-label position="floating">Comentarios</ion-label>
              <ion-textarea formControlName="comentarios"></ion-textarea>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="header-demo">
              <ion-icon name="arrow-down"></ion-icon>
              Probá nuestra DEMO
              <ion-icon name="arrow-down"></ion-icon>
            </ion-card-title>

          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              <h2>Ingresa un número de teléfono válido dentro de Argentina.</h2>
              <h2>Sin 0, 15 ni espacios.</h2>
            </ion-text>

            <p>Ejemplo: 3442xxxxxx</p>
            <ion-item>

              <ion-input formControlName="telPrueba" type="tel"></ion-input>
            </ion-item>
            <!-- Error message -->
            <ion-text color="danger">
              <span class="error" *ngIf="finalizado && errorControl.telPrueba.errors?.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Por favor, escribe un número de teléfono.
              </span>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <div class="botones">
          <ion-button type="submit" color="primary">
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
            Enviar pedido
          </ion-button>
        </div>

      </form>

    </div>



  </div>

</ion-content>