#container h2 {
    line-height: 22px;
}

.boton-submit {
    text-align: center;
    margin    : 20px 0 20px 0;
}

.detalle-pedido {
    padding-top   : 10px;
    padding-bottom: 10px;
}

.error {
    font-size: 12px;
}

.total {
    font-weight: 600;
    font-size  : 20px;
}

.header-demo {
    display: flex;
}

.header-demo ion-icon {
    align-self: center;
}

.header {
    display        : flex;
    justify-content: space-between;
}

.header ion-card-title {
    align-self: center;
}

.botones {
    display    : flex;
    align-items: center;
}

.botones ion-button {
    margin: 10px 10px 10px 0;
}

.botones ion-label {
    margin: 0 10px 0 0;
}

.subtotal {
    font-weight: 500;
}