#container h2 {
    line-height: 22px;
}

.botones {
    text-align: center;
    margin    : 20px 0 20px 0;
}

.detalle-pedido {
    padding-top   : 10px;
    padding-bottom: 10px;
}

.error {
    font-size: 12px;
}

.total {
    font-weight: 600;
    font-size  : 20px;
}

.header-demo {
    display: flex;
}

.header-demo ion-icon {
    align-self: center;
}