.botones {
    text-align: center;
    padding-bottom: 20px;
}

.detalle-pedido{
    padding-top: 10px;
    padding-bottom: 10px;
}

.detalle-entrega{
    padding-bottom: 20px;
}

.error{
    color: #b01605;
    font-size: 12px;
}