<div #container>
    <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid justify-content-start">
            <button (click)="abrirMenu()" class="btn btn-link" type="button">
                <i class="fas fa-bars"></i>
            </button>
            <span class="navbar-brand mb-0 ms-3 h1"><strong>encarga.shop</strong></span>
        </div>
    </nav>


    <div #offcanvas class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAdmin"
        aria-labelledby="offcanvasAdminLabel">
        <div class="offcanvas-header border-bottom border-primary border-2">
            <h5 class="offcanvas-title" id="offcanvasAdminLabel"><strong>encarga.shop</strong></h5>
            <button type="button" class="btn btn-link" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group list-group-flush">
                <button routerLink="/admin" data-bs-dismiss="offcanvas" type="button"
                    class="list-group-item list-group-item-action">
                    <div class="d-inline-block w-fixed">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Panel
                </button>
                <button routerLink="item" data-bs-dismiss="offcanvas" type="button"
                    class="list-group-item list-group-item-action">
                    <div class="d-inline-block w-fixed">
                        <i class="fas fa-list"></i>
                    </div>
                    Ítems
                </button>
                <button routerLink="categoria" data-bs-dismiss="offcanvas" type="button"
                    class="list-group-item list-group-item-action">
                    <div class="d-inline-block w-fixed">
                        <i class="fas fa-tags"></i>
                    </div>
                    Categorías
                </button>
                <button routerLink="/admin/login" type="button" class="list-group-item list-group-item-action">
                    <div class="d-inline-block w-fixed">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    Salir
                </button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>