<div id="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-card>

      <ion-card-header class="header">
        <ion-card-title *ngIf="!editando">Agregar Item</ion-card-title>
        <ion-card-title *ngIf="editando">Editar Item</ion-card-title>

        <ion-button *ngIf="editando" (click)="clickEliminarItem()" color="medium" fill="clear" size="small">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>


      </ion-card-header>

      <ion-card-content>
        <!-- TODO: Agregar input de categorias -->
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input formControlName="titulo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input formControlName="precio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-toolbar>
      <ion-buttons class="alinear">
        <ion-button (click)="cancelar()">
          <ion-icon slot="start" name="close"></ion-icon>
          Cancelar
        </ion-button>
        <ion-button type="submit" color="primary">
          <ion-icon slot="start" name="save"></ion-icon>
          Guardar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</div>